# ============================================================
# ENVIRONMENT VARIABLES / SECRETS
# ============================================================

.env
.env.*
!.env.example


# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/


# ============================================================
# VIRTUAL ENVIRONMENTS
# ============================================================

venv/
.venv/
env/
ENV/


# ============================================================
# JUPYTER NOTEBOOKS
# ============================================================

.ipynb_checkpoints/


# ============================================================
# IDE / EDITOR
# ============================================================

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/

*.swp
*.swo


# ============================================================
# OS FILES
# ============================================================

.DS_Store
Thumbs.db
desktop.ini


# ============================================================
# MACHINE LEARNING MODEL FILES
# ============================================================

*.pth
*.pt
*.pkl
*.joblib


# ============================================================
# DATASET
# ============================================================

data/chest_xray/


# ============================================================
# GENERATED GRAD-CAM OUTPUTS
# ============================================================

backend/xai/outputs/*


# ============================================================
# GENERATED MEDICAL REPORTS
# ============================================================

backend/llm/reports/*


# ============================================================
# LOG FILES
# ============================================================

*.log


# ============================================================
# TEMPORARY FILES
# ============================================================

*.tmp
*.temp


# ============================================================
# STREAMLIT
# ============================================================

.streamlit/secrets.toml

# ============================================================
# MACHINE LEARNING MODEL FILES
# ============================================================

*.pth
*.pt
*.pkl
*.joblib


# ============================================================
# DATASET
# ============================================================

data/chest_xray/